fastapi
uvicorn
paho-mqtt
sqlalchemy
psycopg2-binary
itsdangerous
passlib[bcrypt]
python-multipart
jinja2
httpx
aiofiles
python-jose[cryptography]  # For JWT tokens
starlette  # For session middleware